.diary-container {
    height: 70vh;
    overflow-y: scroll;
}

.diary-container::-webkit-scrollbar {
    width: 9px;
}

.diary-container::-webkit-scrollbar-thumb {
    background-color: #EAD9FF;
    border-radius: 10px;

}

.diary-container .diary-item{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #000000;
    border-bottom: 1px solid #EAD9FF;
    padding-bottom: 2rem;
}
.diary-container .diary-item:hover {
    background-color: #EAD9FF;
    transition: background-color 0.5s;

}
.diary-container .item-top-thread {
    display: flex;
    justify-content: space-between;
}
.diary-container .item-top-thread > p {
    display: flex;
}

.diary-container .item-top-thread > p.item-title{
    font-size: 1.5rem;
    color: black;
    margin-bottom: .5rem;
}

.diary-container .diary-item .item-content {
    /* 왼쪽정렬 */
    text-align: left;
}