.sidenav-container {
    width: 200px;
    height: calc(100vh - 60px); /* 상단 네비게이션 바 높이 뺌 */
    padding-top: 4rem;
    border-right: #EBDBFF 1px solid;
}

.sidenav-container:first-child {
    margin-top: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}
.nav-item img {
    margin-right: .5rem;
    height: 32px;
    width: 32px;
}

.nav-item i {
    margin-right: 10px;
}

.nav-item:hover {
    background-color: #ddd;
    transition: background-color 0.3s;
}