.diary-detail-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.diary-detail-container .content-container {
    display: flex;
    flex: 1;
}

.diary-detail-container .content {
    flex: 1;
    padding: 20px;
    padding-top: 4rem;
    background-color: #EAD9FF;
    text-align: center;

    background: linear-gradient(transparent 44px, #ccc 45px);
    background-size: 100% 45px;
}

.diary-detail-container .diary-container {
    height: 90vh;
}

.diary-detail-container .diary-container .diary-date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: left;
}

.diary-detail-container .diary-container .diary-title {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.diary-detail-container .diary-container .diary-container {
    display: flex;
}

.diary-detail-container .content-boxes {
    display: flex;
    gap: 1rem;
}

.content-boxes > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: dashed 3px #ccc;
    padding: 2rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.5;
    height: 300px;
    overflow: auto;
}
.gpt-content > .notice {
    color: #BD71FF;
}

.gpt-services {
    margin-top: 2rem;
    padding: .5rem;
}

.gpt-services > div {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: left;
}


