.diary-calendar-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.diary-calendar-container .content-container {
    display: flex;
    flex: 1;
}

.diary-calendar-container .content {
    flex: 1;
    padding: 20px;
    padding-top: 4rem;
    background-color: #fff;
    text-align: center;
    height: 90vh;
}

/* calendar */
.calendar-container {
    display: inline-block;
    padding: 20px;
    margin: 2rem 0;
    width: 90%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

.calendar-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day-name,
.calendar-day {
  padding: 1rem .5rem;
  border-radius: 4rem;
  font-size: 1.2rem;
}
.calendar-day.day-highlight {
  background-color: #EAD9FF;
  border-radius: 3px; 
  margin: 0 1.8rem;
  border-radius: 1rem;
}
.calendar-day.day-highlight:hover {
    background: #D4B1FF;
    transition: background-color 0.5s;
}

.calendar-day.empty {
  background: none;
}
