.diary-list-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.diary-list-container .content-container {
    display: flex;
    flex: 1;
}

.diary-list-container .content {
    flex: 1;
    padding: 20px;
    padding-top: 4rem;
    background-color: #fff;
    text-align: center;
}
.diary-list-container .centered-title{
    text-align: center;
    margin-top: 1000px;
    font-size: 1.2rem;
}

.diary-list-container .diary-item{
    text-align: center;
    display: flex;
    padding: .5rem;
    margin-bottom: 2rem;
    flex-direction:row;
    border-bottom: 1px solid #e2e2e2;
}

.diary-list-container .diary-item p {
    padding: 0 1rem;
    display: flex;
    font-size : 1.5rem
}
